﻿@model ePatient.Models.Allergy

@{
    ViewBag.Title = "Delete Allergy";
}

<script language=javascript>
    function cancel(id) {

        document.location.href = '/ePatient/Edit/'+id;
    }


</script>

<h3>Are you sure you want to delete this Allergy?</h3>
<div class="panel panel-warning">
    <div class="panel-heading">
        <h3 class="panel-title">Warning</h3>
    </div>
    <div class="panel-body">
        <dt>
            @Html.DisplayNameFor(model => model.Patient.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Patient.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Details)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Details)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReportedOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReportedOn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DetectedOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DetectedOn)
        </dd>

    </div>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Delete" class="btn btn-primary" />
        <input type="button" value="Cancel" class="btn btn-default" onclick="cancel(@Model.PatientID)" />
    </div>
}
   
