﻿@model IEnumerable<ePatient.Models.Allergy>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Patient.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Details)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReportedOn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DetectedOn)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Patient.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Details)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReportedOn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DetectedOn)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AllergyID }) |
            @Html.ActionLink("Details", "Details", new { id=item.AllergyID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AllergyID })
        </td>
    </tr>
}

</table>
