﻿@model IEnumerable<ePatient.Models.UserMaster>

@{
    ViewBag.Title = "User List";
}


<div class="row">
    <div class="col-md-2">
        <h2>User List</h2>
    </div>
    <div class="col-md-offset-11" style="padding-top:15px">
        <input type="button" value="Create New" class="btn btn-primary" onclick="create();" />
    </div>
</div>

<script language=javascript>
    function create() {

        document.location.href = '/Users/Create';
    }


</script>

<table class="table table-condensed table-striped table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Facility.FacilityName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Password)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.IsAdmin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsDoctor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.CreateDate)
        </th>*@
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Facility.FacilityName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>*@
            <td>
                @Html.DisplayTextFor(modelItem => item.IsAdmin)
            </td>
            <td>
                @Html.DisplayTextFor(modelItem => item.IsDoctor)
            </td>
            <td>
                @Html.DisplayTextFor(modelItem => item.IsActive)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.CreateDate)
            </td>*@
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.UserID }) |
                @Html.ActionLink("Details", "Details", new { id = item.UserID })
                @*@Html.ActionLink("Delete", "Delete", new { id = item.UserID })*@
            </td>
        </tr>
    }

</table>
