﻿@model IEnumerable<ePatient.Models.Facility>

@{
    ViewBag.Title = "Facilities";
}

<div class="row">
    <div class="col-md-2">
        <h2>Facility List</h2>
    </div>
    <div class="col-md-offset-11" style="padding-top:15px">
        <input type="button" value="Create New" class="btn btn-primary" onclick="create();" />
    </div>
</div>

<script language=javascript>
    function create() {

        document.location.href = '/Facilities/Create';
    }
</script>


<table class="table table-condensed table-striped table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FacilityName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FacilityName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.FacilityID })
            </td>
        </tr>
    }

</table>
