﻿@model ePatient.Models.PatientInputModel
@{
    ViewBag.Title = "Create";
}

<script src="@Url.Content("~/Scripts/Patient/Patient.js")" type="text/javascript"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $("#divProgress").css("display", "none");
    });
</script>

<ol class="breadcrumb">
    <li><a href="/ePatient/Index">Patients</a></li>
    <li class="active">Add New</li>
</ol>

<div class="row">
    <div class="col-md-3">
        <h2>Add New Patient</h2>
    </div>
    <div class="col-md-offset-11" style="margin-top:20px">
        @Html.ActionLink("Back to List", "Index")
    </div>
</div>

@using (Html.BeginForm("", "", FormMethod.Post, new { id = "patientForm", @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal well">
        @Html.ValidationSummary(true)

        <div class="form-group">
            <div class="col-md-1"></div>
            @*@Html.LabelFor(model => model.Title, new { @class = "control-label col-md-2", style = "padding-top:10px" })*@
            <div class="col-md-11">
                <div class="row">
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.Title, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Title)
                    </div>
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.Fname, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Fname)
                    </div>
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.Lname, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Lname)
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-1"></div>
            <div class="col-md-11">
                <div class="row">
                    <div class="col-md-4" style="padding-top:30px">
                        @Html.RadioButtonFor(model => model.Sex, "Male", true) Male
                        @Html.RadioButtonFor(model => model.Sex, "Female", false) Female
                        @Html.ValidationMessageFor(model => model.Sex)
                    </div>
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.DOB, new { @class = "datepicker" })
                        @Html.ValidationMessageFor(model => model.DOB)
                    </div>

                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-1"></div>
            <div class="col-md-11">
                <div class="row">
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.Address, new { @class = "form-control" })
                    </div>
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.City, new { @class = "form-control" })
                    </div>
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.Pincode, new { @class = "form-control" })
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-1"></div>
            <div class="col-md-11">
                <div class="row">
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.Phone, new { @class = "form-control" })
                    </div>
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.Email, new { @class = "form-control" })
                    </div>
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.EnrollmentDate, new { @class = "datepicker" })
                        @Html.ValidationMessageFor(model => model.EnrollmentDate)
                    </div>
                </div>
            </div>
        </div> 

        <div class="form-group">
            <div class="col-md-1"></div>
            <div class="col-md-11">
                <div class="row">
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.CSN, new { @class = "form-control" })
                    </div>
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.issueDate, new { @class = "datepicker" })
                        @Html.ValidationMessageFor(model => model.issueDate)
                    </div>

                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-md-offset-11" style="padding-top:10px">
                    <input type="button" value="Save" class="btn btn-primary" onclick="SavePatient();" />
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-10">
                <div id="divMsg">
                    <div id="divProgress">
                        <img src="~/Content/images/wait.gif" />
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}