﻿@model ePatient.Models.Patient

@{
    ViewBag.Title = "Delete";
}
<script language=javascript>
    function cancel() {

        document.location.href = '/ePatient/Index';
    }
    

</script>

<h3>Are you sure you want to delete this Patient?</h3>
<div>
    <div class="panel panel-warning">
        <div class="panel-heading">
            <h3 class="panel-title">Warning</h3>
        </div>
        <div class="panel-body">
            <dt>
                @Html.DisplayNameFor(model => model.FullName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FullName)
            </dd>

            @*<dt>
                @Html.DisplayNameFor(model => model.Fname)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Fname)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Lname)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Lname)
            </dd>*@

            <dt>
                @Html.DisplayNameFor(model => model.DOB)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DOB)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Sex)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Sex)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.EnrollmentDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.EnrollmentDate)
            </dd>
        </div>
    </div>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
    
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-primary" />
            <input type="button" value="Cancel" class="btn btn-default" onclick="cancel()" />
            @*@Html.ActionLink("Back to List", "Index")*@
        </div>
    
    }
</div>
