﻿@model ePatient.Models.PatientInputModel

@{
    ViewBag.Title = "Patient Details";
}

<h2></h2>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PatientID }) |
    @Html.ActionLink("Back to List", "Index")
</p>   
<div>

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Patient Details</h3>
        </div>
        <div class="panel-body">
            <dt>
                @Html.DisplayNameFor(model => model.Title)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Title)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Fname)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Fname)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Lname)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Lname)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DOB)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DOB)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Sex)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Sex)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.EnrollmentDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.EnrollmentDate)
            </dd>

            </div>
        </div>
    </div>



<div class="panel-group" id="accordion">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <div class="row">
                <div class="col-md-2">
                    <h2 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                            Allergies
                        </a>
                    </h2>
                </div>
                <div class=" col-md-2 col-md-offset-8">
                    @*<h2 class="panel-title">@Html.ActionLink("Add New", "Create", "Allergies", new { id = Model.PatientID }, null)</h2>*@
                    <button class="btn btn-default" type="button" data-toggle="modal" data-target="#myModal">Launch modal</button>
                    <a data-toggle="modal" href="/Allergies/Create" data-target="#myModal">Click me</a>
                </div>
            </div>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in"> @* 'collapse in' --> details remain open*@
            
            <table class="table table-condensed table-striped table-hover">
                <tr>
                    <th>
                        Details
                    </th>
                    <th>
                        Detected On
                    </th>
                    <th>
                        Reported On
                    </th>
                    <th></th>
                </tr>

                @foreach (var allergyitem in Model.Allergies)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => allergyitem.Details)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => allergyitem.DetectedOn)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => allergyitem.ReportedOn)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", "Allergies", new { id = allergyitem.AllergyID }, null) |
                            @Html.ActionLink("Delete", "Delete", "Allergies", new { id = allergyitem.AllergyID }, null)
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>


    <div class="panel panel-primary">
        <div class="panel-heading">
            <div class="row">
                <div class="col-md-2">
                    <h2 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                            Problems
                        </a>
                    </h2>
                </div>
                <div class="col-md-offset-11">
                    <h2 class="panel-title">@Html.ActionLink("Add New", "Create", "Problems", new { id = Model.PatientID }, null)</h2>
                </div>
            </div>

        </div>
        <div id="collapseTwo" class="panel-collapse collapse">
            <div class="panel-body">
                <table class="table table-condensed table-striped table-hover">
                    <tr>
                        <th>
                            Organ
                        </th>
                        <th>
                            Details
                        </th>
                        <th>
                            Reported On
                        </th>
                        @*<th></th>*@
                    </tr>

                    @foreach (var problemitem in Model.Problems)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => problemitem.Organs)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => problemitem.Details)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => problemitem.ReportedOn)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", "Problems", new { id = problemitem.ProblemID }, null) |
                        @Html.ActionLink("Delete", "Delete", "Problems", new
                   {
                       @class = "openDialog",
                       data_dialog_id = "aboutDialog",
                       data_dialog_title = "About Us",
                       id = problemitem.ProblemID
                   }, null)
                    </td>
                </tr>
            }

                </table>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Patient Allergies</h4>
            </div>
            <div class="modal-body">
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>