﻿@model ePatient.Models.PatientInputModel
@{
    ViewBag.Title = "Edit";
}

<script src="@Url.Content("~/Scripts/Patient/Patient.js")" type="text/javascript"></script>
<script src="~/Scripts/knockout-2.0.0.js"></script>
<script src="~/Scripts/knockout.mapping-latest.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $("#divProgress").css("display","none");
    });
</script>


    <ol class="breadcrumb">
        <li><a href="/ePatient/Index">Patients</a></li>
        <li class="active">Modify</li>
    </ol>

    <div class="row">
        <div class="col-md-3">
            <h2>Edit Patient</h2>
        </div>
        <div class="col-md-9 pull-right" style="margin-top:20px">
            @Html.ActionLink("Back to List", "Index")
        </div>
    </div>


    @using (Html.BeginForm("","",FormMethod.Post,new {id="patientForm", @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal well">

            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.PatientID, new { id = "hdnPatientId" })
            @Html.Hidden("hdnResult")

            <div class="form-group">
                @*<div class="col-md-1"></div>*@
                <div class="col-md-11">
                    @Html
                    @Html.EditorFor(model => model.Title, new { @class = "form-control" })
                </div>
            </div>

        <div class="form-group">
            @*<div class="col-md-1"></div>*@
            @*@Html.LabelFor(model => model.Title, new { @class = "control-label col-md-2", style = "padding-top:10px" })*@
            <div class="col-md-11">
                @Html.EditorFor(model => model.Fname, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @*<div class="col-md-1"></div>*@
            <div class="col-md-11">
                @Html.EditorFor(model => model.Lname, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-2"></div>
            @*@Html.LabelFor(model => model.Title, new { @class = "control-label col-md-2", style = "padding-top:10px" })*@
            <div class="col-md-10">
                @Html.RadioButtonFor(model => model.Sex, "Male") Male
                @Html.RadioButtonFor(model => model.Sex, "Female") Female
                @Html.ValidationMessageFor(model => model.Sex)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-1"></div>
            <div class="col-md-11">
                @Html.EditorFor(model => model.DOB, new { @class = "datepicker" })
                @Html.ValidationMessageFor(model => model.DOB)
            </div>
        </div>

        <div class="form-group">
            @*<div class="col-md-2"></div>*@
            @*@Html.LabelFor(model => model.Title, new { @class = "control-label col-md-2", style = "padding-top:10px" })*@
            <div class="col-md-11">
                @Html.EditorFor(model => model.Address, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @*<div class="col-md-1"></div>*@
            <div class="col-md-11">
                @Html.EditorFor(model => model.City, new { @class = "form-control" })
            </div>
        </div>
        
        <div class="form-group">
            @*<div class="col-md-1"></div>*@
            <div class="col-md-11">
                @Html.EditorFor(model => model.Pincode, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @*<div class="col-md-1"></div>*@
            @*@Html.LabelFor(model => model.Title, new { @class = "control-label col-md-2", style = "padding-top:10px" })*@
            <div class="col-md-11">
                @Html.EditorFor(model => model.Phone, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @*<div class="col-md-1"></div>*@
            <div class="col-md-11">
                @Html.EditorFor(model => model.Email, new { @class = "form-control" })
            </div>
        </div>
        
        <div class="form-group">
            @*<div class="col-md-1"></div>*@
            <div class="col-md-11">
                @Html.EditorFor(model => model.EnrollmentDate, new { @class = "datepicker" })
            </div>
        </div>  

        <div class="form-group">
            @*<div class="col-md-1"></div>*@
            <div class="col-md-11">
                @Html.EditorFor(model => model.CSN, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @*<div class="col-md-1"></div>*@
            <div class="col-md-11">
                @Html.EditorFor(model => model.issueDate, new { @class = "datepicker" })
            </div>
        </div> 

<div class="form-group">

    <div class="col-md-offset-11" style="padding-top:10px">
        <input type="button" value="Save" class="btn btn-primary" onclick="SavePatient();" />
    </div>
</div>
<div class="form-group">
    <div class="col-md-offset-10">
        <div id="divMsg">
            <div id="divProgress">
                <img src="~/Content/images/wait.gif" />
            </div>
        </div>
    </div>
</div>

</div>


}



<div class="panel panel-info">
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-2">
                <h2 class="panel-title">Allergies</h2>
            </div>
            <div class="col-md-offset-11">
                <h2 class="panel-title">@Html.ActionLink("Add New", "Create", "Allergies", new { id = Model.PatientID }, null)</h2>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <table class="table table-condensed table-striped table-hover">
            <tr>
                <th>
                    Details
                </th>
                <th>
                    Detected On
                </th>
                <th>
                    Reported On
                </th>
                <th></th>
            </tr>

            @foreach (var allergyitem in Model.Allergies)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => allergyitem.Details)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => allergyitem.DetectedOn)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => allergyitem.ReportedOn)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", "Allergies", new { id = allergyitem.AllergyID }, null) |
                        @Html.ActionLink("Delete", "Delete", "Allergies", new { id = allergyitem.AllergyID }, null)
                    </td>
                </tr>
            }

        </table>
    </div>
</div>

<div class="panel panel-info">
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-2">
                <h2 class="panel-title">Problems</h2>
            </div>
            <div class="col-md-offset-11">
                <h2 class="panel-title">@Html.ActionLink("Add New", "Create", "Problems", new { id = Model.PatientID }, null)</h2>
            </div>
        </div>

    </div>
    <div class="panel-body">
        <table class="table table-condensed table-striped table-hover">
            <tr>
                <th>
                    Organ
                </th>
                <th>
                    Details
                </th>
                <th>
                    Reported On
                </th>
                @*<th></th>*@
            </tr>

            @foreach (var problemitem in Model.Problems)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => problemitem.Organs)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => problemitem.Details)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => problemitem.ReportedOn)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", "Problems", new { id = problemitem.ProblemID }, null) |
                        @Html.ActionLink("Delete", "Delete", "Problems", new
                   {
                       @class = "openDialog",
                       data_dialog_id = "aboutDialog",
                       data_dialog_title = "About Us",
                       id = problemitem.ProblemID
                   }, null)
                    </td>
                </tr>
            }

        </table>
    </div>
</div>

    @section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    }

