﻿@model ePatient.Models.PatientInputModel
@{
    ViewBag.Title = "Edit";
}

<div class="row">
    <div class="col-md-2">
        <h2>Edit Patient</h2>
    </div>
    <div class="col-md-offset-11" style="margin-top:20px">
        @Html.ActionLink("Back to List", "Index")
    </div>
</div>

@using (Html.BeginForm(new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal well">

        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.PatientID, new { id = "hdnPatientId" })

        <div class="form-group">
            <div class="col-md-1"></div>
            @*@Html.LabelFor(model => model.Title, new { @class = "control-label col-md-2", style = "padding-top:10px" })*@
            <div class="col-md-11">
                <div class="row">
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.Title, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Title)
                    </div>
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.Fname, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Fname)
                    </div>
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.Lname, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Lname)
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-1"></div>
            <div class="col-md-11">
                <div class="row">
                    <div class="col-md-4">
                        @Html.RadioButtonFor(model => model.Sex, "Male", true) Male
                        @Html.RadioButtonFor(model => model.Sex, "Female", false) Female
                        @Html.ValidationMessageFor(model => model.Sex)
                    </div>
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.DOB, new { @class = "datepicker" })
                        @Html.ValidationMessageFor(model => model.DOB)
                    </div>

                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-1"></div>
            <div class="col-md-11">
                <div class="row">
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.Address, new { @class = "form-control" })
                    </div>
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.City, new { @class = "form-control" })
                    </div>
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.Pincode, new { @class = "form-control" })
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-1"></div>
            <div class="col-md-11">
                <div class="row">
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.Phone, new { @class = "form-control" })
                    </div>
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.Email, new { @class = "form-control" })
                    </div>
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.EnrollmentDate, new { @class = "datepicker" })
                        @Html.ValidationMessageFor(model => model.EnrollmentDate)
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-1"></div>
            <div class="col-md-11">
                <div class="row">
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.CSN, new { @class = "form-control" })
                    </div>
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.issueDate, new { @class = "datepicker" })
                        @Html.ValidationMessageFor(model => model.issueDate)
                    </div>

                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-11 col-md-10" style="padding-top:10px">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div class="panel panel-info">
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-2">
                <h2 class="panel-title">Allergies</h2>
            </div>
            <div class="col-md-offset-11">
                <h2 class="panel-title">@Html.ActionLink("Add New", "Create", "Allergies", new { id = Model.PatientID }, null)</h2>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <table class="table table-condensed table-striped table-hover">
            <tr>
                <th>
                    Details
                </th>
                <th>
                    Detected On
                </th>
                <th>
                    Reported On
                </th>
                <th></th>
            </tr>

            @foreach (var allergyitem in Model.Allergies)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => allergyitem.Details)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => allergyitem.DetectedOn)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => allergyitem.ReportedOn)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", "Allergies", new { id = allergyitem.AllergyID }, null) |
                        @Html.ActionLink("Delete", "Delete", "Allergies", new { id = allergyitem.AllergyID }, null)
                    </td>
                </tr>
            }

        </table>
    </div>
</div>

<div class="panel panel-info">
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-2">
                <h2 class="panel-title">Problems</h2>
            </div>
            <div class="col-md-offset-11">
                <h2 class="panel-title">@Html.ActionLink("Add New", "Create", "Problems", new { id = Model.PatientID }, null)</h2>
            </div>
        </div>

    </div>
    <div class="panel-body">
        <table class="table table-condensed table-striped table-hover">
            <tr>
                <th>
                    Organ
                </th>
                <th>
                    Details
                </th>
                <th>
                    Reported On
                </th>
                @*<th></th>*@
            </tr>

            @foreach (var problemitem in Model.Problems)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => problemitem.Organs)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => problemitem.Details)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => problemitem.ReportedOn)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", "Problems", new { id = problemitem.ProblemID }, null) |
                        @Html.ActionLink("Delete", "Delete", "Problems", new
                   {
                       @class = "openDialog",
                       data_dialog_id = "aboutDialog",
                       data_dialog_title = "About Us",
                       id = problemitem.ProblemID
                   }, null)
                    </td>
                </tr>
            }

        </table>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

