﻿@model ePatient.Models.PatientInputModel
@{
    ViewBag.Title = "Edit";
}

<ol class="breadcrumb">
    <li><a href="/ePatient/Index">Patients</a></li>
    <li class="active">Modify</li>
</ol>
<div class="container">
    <div class="row">
        <div class="col-md-2">
            <h2>Edit Patient</h2>
        </div>
        <div class="col-md-2 col-md-offset-8" style="margin-top:20px">
            @Html.ActionLink("Back to List", "Index")
        </div>
    </div>
</div>
<hr />




<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" data-bind="value: Title" class="form-control" id="title" placeholder="Title">
            </div>
            <div class="form-group">
                <label for="fname">First Name</label>
                <input type="text" data-bind="value: Fname" class="form-control" id="fname" placeholder="First Name">
            </div>
            <div class="form-group">
                <label for="lname">Last Name</label>
                <input type="text" data-bind="value: Lname" class="form-control" id="lname" placeholder="Last Name">
            </div>
            <div class="form-group">
                <label for="Sex">Gender</label>
                <input type="text" data-bind="value: Sex" class="form-control" id="Sex" placeholder="Last Name">
               <label> <input type="radio" name="sex" value="0" data-bind="checked: Sex" />Male</label>
                <label> <input type="radio" name="sex" value="1" data-bind="checked: Sex" />Female</label>
            </div>
            <div class="form-group">
                <label for="dob">Date of Birth</label>
                <input type="text" data-bind="datepicker: {}, value: DOB" id="dob" placeholder="Date of Birth">
            </div>
            <div class="form-group">
                <div class="col-md-1"></div>
                <div class="col-md-11">
                    @Html.EditorFor(model => model.DOB, new { @class = "datepicker"})
                    @Html.ValidationMessageFor(model => model.DOB)
                </div>
            </div>
            <div class="form-group">
                <label for="address">Address</label>
                <input type="text" data-bind="value: Address, valueUpdate:'input'" maxlength="120" class="form-control" id="address" placeholder="Address">
                <span data-bind="text: charactersRemaining"></span> characters remaining
            </div>
            <div class="form-group">
                <input type="button" value="Save" data-bind="click: btnSavePatient" class="btn btn-info" />
                <a href="@Url.Action("Index", "ePatient")" class="btn btn-info">Cancel</a>
            </div>
            <div id="divProgress">
                <img src="~/Content/images/wait.gif" />
            </div>
        </div>
    </div>
    
</div>

<script src="@Url.Content("~/Scripts/Patient/Edit.js")" type="text/javascript"></script>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Message</h4>
            </div>
            <div class="modal-body">
                <div id="divMsg">
                    
                </div>
                <div class="modal-footer">
                    @Html.ActionLink("Back to List", "Index")
                </div>
            </div>
        </div>
    </div>
</div>