﻿@model IEnumerable<ePatient.Models.Patient>

@{
    ViewBag.Title = "Patient List";
 }
<script src="@Url.Content("~/Scripts/Patient/Patient.js")" type="text/javascript"></script>

<div class="row">
    <div class="col-md-2">
        <h2>@Resources.Patientlist</h2>
    </div>
    <div class="col-md-offset-11" style="padding-top:15px">
        <input type="button" value="@Resources.Addnew" class="btn btn-primary" onclick="create();" />
    </div>
</div>

<script language=javascript>
    function create() {

        document.location.href = '/ePatient/Create';
    }
</script>

<table class="table table-condensed table-striped table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DOB)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sex)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EnrollmentDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Lname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DOB)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sex)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EnrollmentDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PatientID }) |
            @Html.ActionLink("Details", "Details", new { id=item.PatientID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PatientID })
        </td>
    </tr>
}

</table>

<div class="row">
    <div class="col-md-2">
        @Html.ActionLink(@Resources.SearchPatient,"Search")
    </div>
</div>
