﻿@model ePatient.Models.PatientSearchModel
@{
    ViewBag.Title = "Search";
}

<link rel="stylesheet" type="text/css" media="screen" href="@Url.Content("~/Content/ui.jqgrid.css")" />
<script src="@Url.Content("~/Scripts/jquery.jqGrid.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.jqGrid.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Patient/Search.js")" type="text/javascript"></script>

<script type="text/javascript">
   $(document).ready(function () {
        initSearchList();
    });
</script>



<div class="row">
    <div class="col-md-3">
        <h2>Search Patient</h2>
    </div>
 </div>

<div class="row well">
    <div class="row">
        <div class="col-md-3">
            <label class="control-label">First Name</label>
            @Html.TextBox("txtFname", "", new { @class = "form-control" })

        </div>
        <div class="col-md-3">
            <label class="control-label">Last Name</label>
            @Html.TextBox("txtLname", "", new { @class = "form-control" })
        </div>
        <div class="col-md-3">
            <label class="control-label">Phone</label>
            @Html.TextBox("txtPhone", "", new { @class = "form-control" })

        </div>
        <div class="col-md-3">
            <label class="control-label">CSN</label>
            @Html.TextBox("txtCSN", "", new { @class = "form-control" })
        </div>
    </div>
    <div class="row">
        <div class="col-md-10" style="padding-top:15px">
            <input type="button" value="Search" class="btn btn-primary" onclick="refreshGrid();" />
        </div>
    </div>
</div>

<table id="tableSearch" class="table table-condensed table-striped table-hover">
    

</table>
