﻿@{
    ViewBag.Title = "Search";
}


<script src="@Url.Content("~/Scripts/Patient/KnockOutSearch.js")" type="text/javascript"></script>


<div class="row">
    <div class="col-md-2">
        <h2>Patient List</h2>
    </div>
    <div class="col-md-8">
        <select data-bind="options: patientlist, optionsCaption: 'Choose patient...', optionsValue: function(item) { return item.PatientID; },optionsText: function(item) { return item.Fullname; }" id="State" ></select>
    </div>
</div>

<div class="row well">
    <div class="row">
        <div class="col-md-3">
            <label class="control-label">First Name</label>
            <input type="text" data-bind="value:fname" class="form-control" />

        </div>
        <div class="col-md-3">
        <label class="control-label">Last Name</label>
        <input type="text" data-bind="value: lname" class="form-control" />
    </div>
    <div class="col-md-3">
            <label class="control-label">Phone</label>
        <input type="text" data-bind="value: phone" class="form-control" />

        </div>
        <div class="col-md-3">
            <label class="control-label">CSN</label>
            <input type="text" data-bind="value: csn" class="form-control" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-10" style="padding-top:15px">
            <input type="button" id='btnSearch' title="Search" value="Search" class="btn btn-primary" />
            
        </div>
    </div>
</div>

<table class="table table-condensed table-striped table-hover">
    <tr>
        <th>
            ID
        </th>
        <th>
            Name
        </th>
        <th>
            DOB
        </th>
        <th>
            CSN
        </th>
        <th>

        </th>
    </tr>
    <tbody data-bind="foreach: patientmodel.patients">
        <tr>
            <td data-bind="text: PatientID"></td>
            <td data-bind="text: Fullname"></td>
            <td data-bind="text: DOB"></td>
            <td data-bind="text: CSN"></td>
            <td>
                <a data-bind="attr: { 'href': '@Url.Action("Details", "ePatient")/' + PatientID() }" class="cssClass">
                    Edit
                </a>


            </td>
        </tr>
    </tbody>
</table>





