﻿@model ePatient.Models.Problem

@{
    ViewBag.Title = "Add Problems";
}

<div class="row">
    <div class="col-md-3">
        <h2>Add New Problem</h2>
    </div>
    <div class="col-md-offset-11" style="margin-top:20px">
        @Html.ActionLink("Back to List", "Edit", "ePatient", new { id = Model.PatientID },null)
    </div>
</div>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal well">
        
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.PatientID)

        <div class="form-group" style="padding-top:5px">
            @Html.LabelFor(model => model.Patient.FullName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayTextFor(model => model.Patient.FullName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Organs, htmlAttributes: new { @class = "control-label col-md-2" })           
            <div class="col-md-10">           
                @*@Html.TextBoxFor(model => model.Organs, new { @class = "form-control" })*@
                @Html.DropDownListFor(model => model.Organs, Model.OrganList, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Organs)          
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Details, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Details, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Details)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ReportedOn, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.ReportedOn, new { @class = "form-control", id="reportDate" })
                @Html.ValidationMessageFor(model => model.ReportedOn)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<script type="text/javascript">

    $(document).ready(function () {
        $('#reportDate').datepicker({
             format: "yyyy/mm/dd"
         });
    });
</script>
