﻿@model ePatient.Models.Problem

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Problem</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Patient.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Patient.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Organs)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Organs)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Details)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Details)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReportedOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReportedOn)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ProblemID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
