﻿@model ePatient.Models.UserMaster
@{
    ViewBag.Title = "LogOn";
    Layout = "~/Views/Shared/_LogOn.cshtml";
   // var culture = System.Threading.Thread.CurrentThread.CurrentUICulture.Name.ToLowerInvariant();
}

@*@helper selected(string c, string culture)
{
    if (c == culture)
    {
        @:checked="checked"
    }
}*@

<style>
    .carousel-caption > h4 {
        color:black;
    }

    
</style>

<div class="row">
    <div class="col-md-6 col-md-offset-3">


        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <img src="~/Content/images/slide/slide1.jpg" alt="" />
                    <div class="carousel-caption">
                        <h4> We care for you</h4>
                    </div>
                </div>
                <div class="item">
                    <img src="~/Content/images/slide/slide2.jpg" alt="...">
                    <div class="carousel-caption">
                        <h4> With best possible way</h4>
                    </div>
                </div>
                <div class="item">
                    <img src="~/Content/images/slide/slide3.jpg" alt="...">
                    <div class="carousel-caption">
                        <h4> Without any tension</h4>
                    </div>
                </div>
            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>

    </div>
</div>

<br />

@***------------------- Region for Culture set -------------------***@
@*@using (Html.BeginForm("SetCulture","UserAccount"))
{
    <fieldset>
        <legend>ChooseYourLanguage</legend>
        <div class="control-group">
            <div class="controls">
                <label for="en-us">
                    <input name="culture" id="en-us" value="en-us" type="radio" @selected("en-us", culture) /> English
                </label>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <label for="de">
                    <input name="culture" id="de" value="de" type="radio" @selected("de", culture) /> German
                </label>
            </div>
        </div>
        
    </fieldset>



}*@

@***------------------- Culture set Region Ends ------------------***@


<div class="row">
    <div class="col-md-offset-3 col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">@Resources.Login</h3>
            </div>
            <div class="panel-body">
                <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
                <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

                @Html.ValidationSummary(true, "Login was unsuccessful. Please correct the errors and try again.")

                @using (Html.BeginForm(new { @class = "form-horizontal", role = "form" }))
                {


                    <div class="form-group">
                        <div class="col-md-5">
                            @Html.LabelFor(m => m.UserName, new { @class = "col-md-10 control-label" })
                        </div>
                       <div class="col-md-7" style="margin-bottom:15px">
                            @*@Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })*@
                            <input type="text" data-bind="value: Username" class="form-control" id="uname" placeholder="@Resources.Username">
                            @Html.ValidationMessageFor(m => m.UserName)
                        </div>
                        <div class="hidden-md"></div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-5">
                            @Html.LabelFor(m => m.Password, new { @class = "col-md-10 control-label" })
                        </div>
                        <div class="col-md-7" style="margin-bottom:15px">
                            @*@Html.PasswordFor(m => m.Password, new { @class = "form-control" })*@
                            <input type="password" data-bind="value: Password" class="form-control" id="password" placeholder="@Resources.Password">
                            @Html.ValidationMessageFor(m => m.Password)
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-5 col-md-10">
                            @*<input type="submit" class="btn btn-info" value="Log On" />*@
                            <input type="button" value="@Resources.Login" data-bind="click: checkLogin" class="btn btn-info" />
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        (function ($) {
            $("input[type = 'radio']").click(function () {
                $(this).parents("form").submit(); // post form
            });

        })(jQuery);
    </script>*@

<script src="@Url.Content("~/Scripts/LogOn/LogOn.js")" type="text/javascript"></script>
@*}*@