﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@("Patient Portal" + (!string.IsNullOrEmpty(ViewBag.Title) ? " - " + ViewBag.Title : ""))</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/knockout")
    @RenderSection("scripts", required: false)

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink(@Resources.PortalHeading, "Index", "ePatient", null, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Patients", "Index", "ePatient")</li>
                    <li>@Html.ActionLink("Facilities", "Index", "Facilities")</li>
                    <li>@Html.ActionLink("Users", "Index", "Users")</li>
                    
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>@Html.ActionLink(@Resources.Logout, "LogOff", "UserAccount", routeValues: null, htmlAttributes: new { id = "logoffLink" })</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        
        @*<footer style="padding-top:60px">
            <hr />
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            
        </footer>*@
        <h2></h2>
        <br />
        <nav class="navbar navbar-inverse navbar-f-collapse">
            <div class="container">
                <div class="navbar-text">
                    <p> &copy; @DateTime.Now.Year - My ASP.NET Application</p>
                </div>
           </div>
        </nav>
    </div>

   
   
</body>
</html>
