﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@("Patient Portal - LogOn")</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/knockout")
    @RenderSection("scripts", required: false)

    @*----------------Region Required for Localization-----------------------*@
    @{
        var culture = System.Threading.Thread.CurrentThread.CurrentUICulture.Name.ToLowerInvariant();
    }

    @helper selected(string c, string culture)
    {
    if (c == culture)
    {
        @:checked="checked"
    }
    }

    @*------------------- Region ends--------------------------------------*@

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                
                @Html.ActionLink(@Resources.PortalHeading, "LogOn", "UserAccount", null, new { @class = "navbar-brand" })
                
            </div>
            @***------------------- Region for Culture set -------------------***@
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                        @using (Html.BeginForm("SetCulture", "UserAccount"))
                        {
                        <li>
                            <span class="navbar-text"><input name="culture" id="en-us" value="en-us" type="radio" @selected("en-us", culture) /> English</span> 
                            <span class="navbar-text"><input name="culture" id="pt" value="pt" type="radio" @selected("pt", culture) /> Portugese</span>

</li>
                        }
                </ul>
            </div>
            @***------------------- Culture set Region Ends ------------------***@
       </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        
        @*<footer style="padding-top:60px">
            <hr />
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>*@
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script type="text/javascript">
        (function ($) {
            $("input[type = 'radio']").click(function () {
                $(this).parents("form").submit(); // post form
            });

        })(jQuery);
    </script>
</body>
</html>
